<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログインページ</title>
    <style>
        #center {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div id="center">
        <form th:action="@{/login1}" method="post">
            ユーザーID：<input type="text" name="id" required><br>
            パスワード：<input type="password" name="pass" required><br>
            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>
