<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>ようこそ、<span th:text="${username}"></span> さん！</h1>
    
    <!-- ログアウトリンク -->
    <a href="#" onclick="confirmLogout()">ログアウト</a>

    <!-- JavaScript に変数を渡す -->
    <script th:inline="javascript">
        var username = /*[[${username}]]*/ 'ゲスト';

        function confirmLogout() {
            var isConfirmed = confirm(username + " さん、本当にログアウトしますか？");
            if (isConfirmed) {
                window.location.href = "/logout";
            }
        }
    </script>

</body>
</html>
